{% extends "base.html" %}
{% block title %}クイズ{% endblock title %}
{% block content %}
<h1>{{ category_name }}クイズ：{{ difficulty_level }}</h1>
<h2>第 {{ request.session.current_question|add:1 }} 問</h2>
<p>{{ question.text }}</p>
<form method="post" action="{% url 'check_answer' question.id %}">
    {% csrf_token %}
    {% if question.input_type == 'text' %}
    <label for="answer">答え:</label>
    <input type="text" name="answer" id="answer">
    {% else %}
    <div class="form-check">
        <input class="form-check-input" type="radio" value="{{ question.option1 }}" name="option" id="option1">
        <label class="form-check-label" for="option1">
        {{ question.option1 }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="{{ question.option2 }}" name="option" id="option2">
        <label class="form-check-label" for="option2">
        {{ question.option2 }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="{{ question.option3 }}" name="option" id="option3">
        <label class="form-check-label" for="option3">
        {{ question.option3 }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="{{ question.option4 }}" name="option" id="option4">
        <label class="form-check-label" for="option4">
        {{ question.option4 }}
        </label>
    </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">解答</button>
</form>
<a class="btn btn-secondary mt-2" href="{% url 'home' %}">途中でやめる</a>

{% endblock content %}

